canvas{
    border: 5px solid wheat;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    padding:10px;
    margin:1px;
    background-color: #03ecfc;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
    font-size: 20px;
}
.note{
color: black !important;
font-weight: bold;
}
.bla{
    width: 1537px;
    font-size: 18px;
}